html,body{
  margin:0;
  padding: 0;
  text-decoration: none;
  background: black;
  background: url("./img/backgroundfundo.png") top fixed;
}
.navegacao{
    background: linear-gradient(10deg , rgb(0, 0, 0) , rgb(47, 47, 47)), rgb(0, 0, 0);
    animation: efect-background infinite;
}
  
  @keyframes efect-background {
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.apresentacao{
  margin-top: 10%;
}
.visobj{
  width: 100%;
  padding: 2% 2% 2% 2%; 
  border: solid rgb(54, 10, 10);
  border-width: 10% 5%;
}
.lhtml{
  color: rgb(255, 72, 0);
}
.lcss{
  color: rgb(0, 76, 255);
}
.lboot{
  color: rgb(71, 0, 158)
}
.ljavascript{
  color: yellow;
}
.ljavascriptproject{
  color: rgb(115, 0, 46);
}
.ljavascriptproject:hover{
  color: rgb(46, 0, 19);
}

.lcplus{
  color: rgb(0, 183, 255);
}
.texticon{
  color:white;
}
.linkedinstyle{
  color: rgb(14,118,168);
}
.linkedinstyle:hover{
  pointer-events: fill;
  color:  rgb(0, 58, 84);
}
.gitstyle{
  color: white;
}
.gitstyle:hover{
  pointer-events: fill;
  color: rgb(171, 171, 171);
}
.instastyle{
  color: rgb(255, 74, 74);
}
.instastyle:hover{
  pointer-events: fill;
  color: rgb(109, 2, 2);
}
.emailstyle{
  color: rgb(0, 141, 30);
}
.emailstyle:hover{
  pointer-events: fill;
  color: rgb(0, 47, 10);
}
.habil-texto{
  margin-top: 5%;
}

.rodape{
  background-color: black;
}