html,body{
    background: black;
}
.navegacao{
    background: linear-gradient(-10deg , rgb(0, 0, 0) , rgb(255, 255, 255)), rgb(76, 76, 76);
    animation: efect-background infinite;
}
  
  @keyframes efect-background {
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.apresentacao{
  margin-top: 10%;
}
.cmais img:hover{
  opacity: 80%;
}
.css img:hover {
  opacity: 80%;
}

.htmlfoto img:hover{
  opacity: 80%;
}

.js img:hover{
  opacity: 80%;
}

.linguagemc img:hover{
  opacity: 80%;
}

.python img:hover{
  opacity: 80%;
}
.javascriptimg img:hover{
  opacity: 70%;
}

.habil-texto{
  margin-top: 10%;
}

.rodape{
  margin-top: 10%;
}
