html,body{
  margin:0;
  padding: 0;
  text-decoration: none;
  background: black;
  background: url("./img/backgroundfundo.png") top fixed;
  font-family: 'Reem Kufi Ink', sans-serif;
}
.navegacao{
    background: linear-gradient(10deg , rgb(0, 0, 0) , rgb(47, 47, 47)), rgb(0, 0, 0);
    animation: efect-background infinite;
}
  
  @keyframes efect-background {
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.cor-textnav{
  color:rgb(191, 191, 191);
}
.apresentacao{
  margin-top: 10%;
}
.visobj{
  width: 100%;
  padding: 2% 2% 2% 2%; 
  border: solid rgb(54, 10, 10);
  border-width: 10% 5%;
}
.lhtml{
  color: rgb(255, 72, 0);
}
.lcss{
  color: rgb(0, 76, 255);
}
.ljavascript{
  color: yellow;
}
.lcplus{
  color: rgb(29, 0, 92);
}
.texticon{
  color:white;
}


.habil-texto{
  margin-top: 5%;
}

.rodape{
  background-color: black;
}